Package: kubectl
Pin: version {{ kubeVersion }}.*
Pin-Priority: 1000

Package: kubeadm
Pin: version {{ kubeVersion }}.*
Pin-Priority: 1000

Package: kubelet
Pin: version {{ kubeVersion }}.*
Pin-Priority: 1000